* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background:  rgb(164, 166, 130);
}

#vivaldi_zoo {
    color:rgb(0, 86, 44);
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: left;
    align-items: left;
}

#vivaldi_zoo:hover {
    color: rgb(38, 121, 81);
}


#logo {
    display: flex;
    height: 110px;
    width: auto;
}

#grid_wrapper {
    display: grid;
    grid-template-columns: 30fr 200fr 200fr 200fr 30fr ;
    grid-template-rows: 20fr 110fr 80fr 20fr;
    grid-template-areas: 
    "he he he he he"
    ". ar ar ar ."
    "se se se se se"
    "fo fo fo fo fo"
    ; 
}

#grid_hittahit {
    display: grid;
    grid-template-columns: 1vh, 1vh, 1vh;
    grid-template-rows: 1vh, 1vh, 1vh;
    grid-template-areas: 
    "he he he"
    "se se hh"
    "fo fo fo"
    ;
}

#grid_anstallda {
    display: grid;
    grid-template-columns: 1vh, 1vh, 1vh;
    grid-template-rows: 2vh, 2vh, 2vh, 2vh, 2vh;
    grid-template-areas: 
    "he he he"
    "car bet tho"
    "lot jak jen"
    "mar jon nat"
    "fo fo fo"
    ;
}

.anstallda {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px;
}

.people {
    height: 550px;
    width: 390px;
    margin-bottom: 100px;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    border: 5px solid rgba(15, 15, 15, 0.575);
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(237, 241, 235, 0.599);
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.738);
}

.people img {
    height: 350px;
    width: 350px;
    object-fit: cover;
    border-radius: 20px;
}

#workers {
    text-align: center;
    padding-top: 100px;
    text-decoration: none;
    color: rgba(15, 15, 15, 0.575);
    font-size: 80px;
    text-shadow: 5px 1px 5px rgba(175, 161, 161, 0.008);
}

.namn {
    font-size: 28px;
    margin: 10px;
    font-weight: 600;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.personinformation {
    font-size: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#hittahit {
    grid-area: se;
    height: 1200px;
    width: 800px;
    margin: 10px;
    margin-bottom: 50px;
}

#hittahit h2 {
    margin-bottom: 30px;
}

#karta {
    margin: 40px;
    height: auto;
    width: 900px;
    border: 5px solid rgba(0, 0, 0, 0.559);
    border-radius: 20px;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.738);
}

#karta2 {
    margin: 30px;
    height: auto;
    width: 900px;
    height: 530px;
    border: 5px solid rgba(0, 0, 0, 0.559);
    border-radius: 20px;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.738);
}


#beskrivning {
    grid-area: hh;
    margin: 30px;
    width: 700px;
    height: auto;
}

#hitta_till_vivaldi_zoo {
    text-align: center;
    width: 1000px;
    padding-top: 50px;
    text-decoration: none;
    color: rgba(15, 15, 15, 0.575);
    font-size: 80px;
    text-shadow: 5px 1px 5px rgba(175, 161, 161, 0.008);
}

    #carl {
        grid-area: car;
    }

    #betty {
        grid-area: bet;
    }

    #thomas {
        grid-area: tho;
    }

    #lotti{
        grid-area: lot;
    }

    #jake {
        grid-area: jak;
    }

    #jennifer {
        grid-area: jen;
    }

    #marc {
        grid-area: mar;
    }

    #jonas {
        grid-area: jon;
    }

    #natalie {
        grid-area: nat;
    }

header {
    background: rgb(116, 125, 90);
    grid-area: he;
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#hamburgare {
    width: 80px;
    height: auto;
}

#hamburgare:hover {
    height: 110px;
}

.window_djur {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 100px;
}

.welcome {
    grid-area: ar;
    text-align: center;
    padding-left: 40px;
    padding-top: 500px;
    text-shadow: rgb(47, 132, 55) 10px 1px 10px;
    background-image: url("../img/animals/lion3.jpg");
    margin-top: 30px;
    box-shadow: 0 60px 0 rgba(0, 0, 0, 0.738);
}

#background_color {
    background-color: rgba(116, 125, 90, 0.523);
    margin-left: 350px;
    margin-right: 350px;
}

article {
    background: rgb(164, 166, 130);
    grid-area: se;
    text-align: center;
}

.information {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.windows {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
    flex-direction: column;
    margin: 20px;
}

footer {
    grid-area: fo;
    background: rgb(110, 126, 79);
    height: 10fr;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
}

#footer_logo {
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
    height: 60px;
    width: auto;

}

#socialamedier {
    display: flex;
    height: 30px;
    width: auto;
    flex-direction: row;
}

h1 {
    color:  white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150px;
    text-decoration: none;
}

h2 {
    color:white;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2:hover {
    color: rgb(0, 86, 44);
    text-decoration: underline;
    transition: 0.5s;
}

h3 {
    text-align: center;
    color:rgb(0, 0, 0);
    font-size: 35px;
    text-decoration: none;
    padding-top: 30px;
    padding-bottom: 15px;
    font-family: 'Trebuchet MS';
    font-style: oblique;
}

h3:hover {
    color: rgb(0, 86, 44);
    text-decoration: underline;
} 


h4 {
    color: rgba(0, 0, 0, 0.959);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    margin: 5px;
}

h4:hover {
    color: rgb(0, 86, 44);
}

#footer_text li {
    list-style-type: none;
}

#footer_text {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(10, 30, 15);
}

.undertext {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 5px;
}

.undertext_hittahit {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    font-size: 20px;
    color: rgb(0, 0, 0);

}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

h5 {
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#transport {
    color: rgba(41, 87, 45, 0.9);
    text-decoration: none;
    border: 2px solid black;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.153);
    font-size: 35px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.738);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#beskrivning li {
    list-style-type: none;
    margin-top: 150px;
    margin-bottom: 200px;
    margin-left: 30px;
    height: 200px;
}

#beskrivning {
    width: 800px;
    margin: 20px;
}


